:root {
    --gs-escuro-n0: #242424;
    --gs-escuro-n1: #3A3A3A;
    --gs-escuro-n2: #5A5A5A;
    --gs-escuro-n3: #707070;
    --gs-branco-n0: #FFFFFF;
    --gs-branco-n1: #CDCDCD;
    --gs-branco-n2: #EAEAEA;
    --gs-verde-n0: #1F7E3A;
    --gs-ascendente-n0: #D14270;
    --gs-ascendente-n1: #5D444D;
}

body {
    display: block !important;
}